body {
  background: #fff;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearFix {
  clear: both;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}

.header {
  background: #eee;
  padding: 15px;
}

.logo {
  background: #fff;
  color: #000;
  padding: 15px 20px;
  display: inline-block;
}

.mainContent {
  clear: both;
  padding: 15px 0;
}

.albumList {
  width: 70%;
  float: left;
}

.album {
  margin-bottom: 15px;
  overflow: hidden;
}

.album img {
  float: left;
  width: 200px;
  border-radius: 5px;
}

.album .detail {
  margin-left: 215px;
}

.album .detail h2 {
  margin: 0 0 15px;
}

.album .detail ul {
  margin: 0 0 15px;
  list-style: none;
  padding: 0;
}

.album .detail ul li {
  list-style: none;
}

.album .detail .view {
  display: inline-block;
  padding: 8px 15px;
  color: #333;
  background: #eee;
  border: 1px solid #333;
  text-decoration: none;
}

.album .detail .view:hover {
  color: #fff;
  background: #333;
  text-decoration: none;
}

.sidebar {
  width: 30%;
  float: left;
  padding-left: 15px;
}

.sidebar h3 {
  border-bottom: 1px dashed #ddd;
  padding: 0 0 10px;
  margin: 0 0 15px;
}

label.checkbox {
  position: relative;
  display: block;
  margin-bottom: 5px;
  padding-left: 24px;
}

label.checkbox input {
  position: absolute;
  left: 0;
  top: 3px;
}

.albumDetail h1 {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.sliderWraper {
  position: relative;
  width: 500px;
  margin: 0 auto;
}

.sliderWraper figure {
  text-align: center;
}
.sliderWraper figure img {
  width: 100%;
  border-radius: 5px;
}

.prev,
.next {
  position: absolute;
  top: calc(50% - 20px);
  width: 100px;
  padding: 5px 10px;
  border: 1px solid #333;
  background: #eee;
  border-radius: 3px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.prev {
  right: 105%;
}

.next {
  left: 105%;
}

.thumbnailList {
  display: flex;
  justify-content: space-around;
}

.thumbnailList img {
  width: 22%;
}
